<div class="articles delete">
<h2>Delete articles</h2>
    <%= form_for @article, html: {method: :delete} do |f| %>
        <h2>Are you sure you want to delete this post?</h2>
        <p>
        <%= f.submit "Delete" %> 
        or 
        <%= link_to "cancel", articles_path %>
        </p>
    <% end %>
</div>